<div class="col-lg-12 topic-box mt-3">
    <div class="col-lg-9 float-left">
        <h1> {{topic.title}} </h1>
        <span class="badge badge-warning mr-2" *ngIf="topic.lang">
            {{topic.lang}}
        </span>
        <span class="badge badge-primary mr-2">
            {{topic.user.name}} {{topic.user.surname}}
        </span>
        <span class="badge badge-light">
            {{topic.date | amLocale: 'es' | amTimeAgo}}
        </span>

        <p class="topic-content mt-3"> {{topic.content}} </p>

        <p id="topic-code" class="mt-3" *ngIf="topic.code">
            <ngx-highlight-js lang="{{topic.lang ? topic.lang : 'bash'}}" [code]="topic.code"></ngx-highlight-js>
        </p>
    </div>
    <div class="clearfix"></div>
    <div id="comment-box" class="col-lg-9 mt-3">
        <h3>Comentarios</h3>
        <hr>

        <div class="alert alert-success mt-3" *ngIf="status === 'success'">
            El comentario se ha guardado correctamente
        </div>
    
        <div class="alert alert-danger mt-3" *ngIf="status === 'error'">
            Ha ocurrido un error al realizar el comentario
        </div>

        <form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity">
            <div class="form-group">
                <label for="content">Contenido:</label>
                <textarea type="text" name="content" placeholder="Escribe el Contenido" #content="ngModel" [(ngModel)]="comment.content"
                    required  class="form-control"></textarea>
    
                <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                    El Contenido no es valido!
                </small>
            </div>

            <input type="submit" class="btn btn-success" value="Commentar" [disabled]="formComment.invalid">
        </form>
    </div>

</div>
